<h1>INDEX DE POSTULATIONS</h1>

<ul>
<% @postulations.each do |postulation| %>

  <li> <%= "Titulo: #{postulation.intership_id.title}" %> </li>
  <li> <%= "Estado: #{postulation.status}" %> </li>
  <li> <%= "Postulante seleccionado: #{postulation.user.last_name}, #{postulation.user.first_name} " if current_user.role == true && postulation.intership.user_id == current_user.id %> </li>
  <li> <%= "Empresa: #{postulation.intership_id.user.name}" %> </li>
  <li> <%= "Ciudad: #{postulation.intership_id.user.}" %> </li>
  <li> <%= "Tipo: #{postulation.tipo}" %> </li>


<% end %>

</ul>
