<% if current_user.role == true  %>
<h2>Postulantes</h2>



   <% @postulations.each do |postulation| %>
      <h4> <%= postulation.user.first_name %> <%= postulation.user.last_name %> </h4>
      <li> <%= "Correo electronico: #{postulation.user.email}" %> </li>
       <li> <%= "Apellido: #{postulation.content}" %> </li>
       <li> <%= "Telefono: #{postulation.user.phone}" %> </li>
       <li> <%= "Estudios: #{postulation.user.studies}" %> </li>
      <li> <%= "Experiencia: #{postulation.user.experience}" %> </li>
      <li> <%= "Nombre: #{postulation.user.first_name}" %> </li>
       <li> <%= "Estado: #{postulation.status}" %> </li>

 <%= link_to "volver", internships_path %>
    <% end %>

  </ul>



<% else %>
<h2>Mis postulaciones</h2>

  <% @postulations.each do |postulation| %>
     <h4><%= link_to "Empresa: #{postulation.internship.user.name}", user_path(postulation.internship.user)%></h4>


      <li><%=  "Cargo: #{postulation.internship.title}" %></li>
      <li> <%= "Duraci칩n: #{postulation.internship.duration}" %> </li>
      <li> <%= "Sueldo : #{postulation.internship.paid}" %> </li>
      <p><%= "Ubicaci칩n: #{postulation.internship.city}, #{postulation.internship.country}" %></p>

    <%= link_to "Eliminar postulaci칩n",
            postulation_path(postulation),
            data: {turbo_method: :delete, turbo_confirm: "Est치s seguro/a?"} %>

    <% end %>
<%

%>
<% end %>
