

<div>

<div class="banner position-relative image-index mb-5">
  <%= image_tag("index_postulations.png", alt: "Tres jovenes trabajando", class: "hide-top") %>
  <div class="content-index text-center">
    <h1 id="titulo-principal-index">Mis Postulaciones</h1>
  </div>
</div>

<div class="container mx-5">
    <div class="my-post">
      <% @postulations.each do |postulation| %>
        <div class="mb-5 ">
          <div class="card-index-postulations shadow cards-postulations text-center">
            <div>
              <div>
                <%= image_tag postulation.internship.user.photo.url(crop: "fill", width: 60, height: 60), class:"rounded-circle ms-1 mt-2" %>
                <p class="fs-3 user-index-postulation"><%= link_to "#{postulation.internship.user.name}", user_path(postulation.internship.user) %></p>
                <p class="fs-5"><%= postulation.internship.title %></p>
              </div>
            </div>
            <p class="message">
              <p class="fs-6 border"><%= "Estado: #{postulation.status}" %></p>
                <p><%= "Duración: #{postulation.internship.duration}" %></p>
                <p><%= "Remunerada: #{postulation.internship.paid}" %></p>
                <p><%= "Ubicación: #{postulation.internship.city}, #{postulation.internship.country}" %></p>
            </p>
            <button class="btn btn-secondary mt-3 border-white custom-button rounded-4" type="submit"><%= link_to "Eliminar postulación", postulation_path(postulation), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro/a?" } %></button>
            <button class="btn btn-secondary mt-3 border-white custom-button" type="submit"><%= link_to "Eliminar postulación", postulation_path(postulation), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro/a?" } %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
