<% if flash[:error].present? %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>
<div class="w-75 container">
  <div class="my-card-su shadow radios mt-5 mb-5">
   <%= image_tag("logologin.png", alt: "Logo aplicacion", class:"my-logo") %>
    <% if @internship.status == "Abierta" %>
    <h2 class="text-center">Estás a un mensaje de conseguir tu primer trabajo!!!</h2>
      <%= simple_form_for [@internship, @postulation] do |f| %>
      <br>
      <%= f.input :content, required: true, label: "Destaca tu postulación enviandole un mensaje a la empresa"%>
      <p>*máximo 150 caracteres</p>
      <%= f.submit "Confirmar", class:"btn btn-secondary"%>
    <% end %>
  </div>
</div>
<% else %>
  <h2>Lo sentimos, esta oferta de pasantía ha concluido.</h2>
  <p>Puedes buscar otras: <%= link_to "Pasantias ", internships_path %></p>
<% end %>
