<h2>Perfil del postulante</h2>

<ul>
    <p>Estado:
        <%= form_for @postulation do |f| %>
            <%= f.select :status, @postulation.class.statuses.keys.map { |s| [s.to_s.humanize, s] }, include_blank: true %>
            <%= f.submit "Guardar" %>
        <% end %>
        <br>
    <h5>Aplicante: <%= @postulation.user.first_name %> <%= @postulation.user.last_name %></h5>
    <h5>Mensaje: <%= @postulation.content %></h5>
    <li>Correo electrónico: <%= @postulation.user.email %></li>
    <li>Teléfono: <%= @postulation.user.phone %></li>
    <li>Estudios: <%= @postulation.user.studies %></li>
    <li>Experiencia laboral: <%= @postulation.user.experience %></li>
    <li>Ubicación: <%= @postulation.internship.city%>, <%=@postulation.internship.country %></li>
    <li>Postulación recibida: <%= @postulation.user.created_at.to_s %></li>
</ul>

 <%= link_to "Volver a pasantias", internships_path %>
