<% if @usuario.empresa? %>
    <% if current_user.role == true %>
      <% if current_user.id == @usuario.id %>
      <div class="banner position-relative image-index mb-5">
        <%= image_tag("index_postulations.png", alt: "Tres jovenes trabajando", class: "hide-top") %>
        <div class="content-index text-center">
        <h1 id="titulo-principal-index">Mi empresa </h1>
        </div>
      </div>
  <div class= "container shadow w-50 rounded-4 p-5 mb-5 text-center">
          <h2><%= @usuario.name %></h2>
        <% else %>
          <h2>Hola <%= current_user.name %>, est치s viendo el perfil de <%= @usuario.name %></h2>
        <% end %>
      <% else %>
          <h2>Hola <%= current_user.first_name %>, este es el perfil de la empresa: <%= @usuario.name %></h2>
      <% end %>
        <%= image_tag @usuario.photo.url(crop: "fill", width: 100, height: 100), class: "mb-5"  %>
        <p>Nombre de Empresa: <%= @usuario.name %></p>
        <p>Califiaci칩n de usuarios: <strong><%= @usuario.rating %></strong><%= " (#{@usuario.reviews} opiniones)" %></p>
        <p>Sitio web: <a href="https://<%= @usuario.website %>"><%= @usuario.website %></a></p>
        <p>Industria: <%= @usuario.industry %></p>
        <p> <%= @usuario.about %></p>
        <%= link_to "Editar perfil", edit_user_registration_path(@usuario), class: "btn btn-secondary" if current_user.id == @usuario.id %>
  </div>
<% else %>
    <% if current_user.role == false %>
      <% if current_user.id == @usuario.id %>
      <div class="banner position-relative image-index mb-5">
        <%= image_tag("index_postulations.png", alt: "Tres jovenes trabajando", class: "hide-top") %>
        <div class="content-index text-center">
        <h1 id="titulo-principal-index">Mi perfil </h1>
        </div>
      </div>
<div class= "container shadow w-50 rounded-4 p-5 mb-5 text-center">
      <% else %>
        <h2>Hola <%= current_user.first_name %>, est치s viendo el perfil de <%= @usuario.first_name %> <%= @usuario.last_name %></h2>
     <% end %>

    <% else %>
    <div class="banner position-relative image-index mb-5">
        <%= image_tag("index_postulations.png", alt: "Tres jovenes trabajando", class: "hide-top") %>
        <div class="content-index text-center">
        <h1 id="titulo-principal-index">Candidato </h1>
        </div>
    </div>
<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="shadow p-4 mx-5 p-2 text-black colum-twoo">
          <div class="text-center">
          <h2><%= @usuario.first_name %> <%= @usuario.last_name %>, <%= @usuario.age %></h2>
            <%= image_tag @usuario.photo.url(crop: "fill", width: 200, height: 200), class:" mb-5 mx-auto" %>
          </div>
          <p><i class="fa-solid fa-location-dot"></i> Ubicaci칩n: <%= @usuario.city %>, <%= @usuario.country %></p>
          <p><i class="fa-solid fa-graduation-cap"></i> Estudios realizados: <%= @usuario.studies %></p>
          <p><i class="fa-solid fa-building-columns"></i> Unidad educativa: <%= @usuario.college %></p>
          <p><i class="fa-solid fa-language"></i> Idioma(s): <%= @usuario.languages %></p>
          <div class="text-center mb-3 mt-5">
           <%= link_to "Volver", internships_path(@usuario), class: "btn btn-secondary text-white"%>
            <%= submit_tag "Mensaje", name: "", class: "btn btn-secondary search-button" %>

          </div>
        </div>


      </div>
      <div class="col-6">
        <div class="shadow p-4 mx-5 p-5 mb-5">
          <p class="line-height"><strong class="h4">Experiencia</strong>: <%= @usuario.experience %></p>
          <p><strong class="h4">Conocimientos</strong>: <%= @usuario.knowledges %></p>
          <%= link_to "Editar perfil", edit_user_registration_path(@usuario), class: "btn btn-secondary" if current_user.id == @usuario.id %>
        </div>
      </div>
    </div>
  </div>
</div>



    <% end %>
</div>
<% end %>
