<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card mb-4">
        <% if @usuario.empresa? %>
          <%= image_tag @usuario.photo.url(crop: "fill", width: 250, height: 250), class:"rounded" %>
          <h4 class= "text-white"><%= @usuario.name %></h4>
          <div class="col-lg-6">
            <b>Califiación de usuarios:</b>
            <p><strong><%= @usuario.rating %></strong><%= " (#{@usuario.reviews} opiniones)" %></p>
            <b>Sitio web:</b>
            <p><a class="text-white"href="https://<%= @usuario.website %>"><%= @usuario.website %></a></p>
            <b>Industria:</b>
            <p><%= @usuario.industry %></p>
            <b>Acerca de:</b>
            <p><%= @usuario.about %></p>
          </div>
        <% else %>
          <%= image_tag @usuario.photo.url(crop: "fill", width: 250, height: 250), class:"rounded" %>
          <h4 class= "text-white"><%= @usuario.first_name %> <%= @usuario.last_name %></h4>
          <div class="col-lg-6">
            <b>Edad:</b>
            <p><%= @usuario.age %> años</p>
            <b>Ciudad:</b>
            <p><%= @usuario.city %></p>
            <b>País:</b>
            <p><%= @usuario.country %></p>
            <b>Estudios realizados:</b>
            <p><%= @usuario.studies %></p>
            <b>Unidad educativa:</b>
            <p><%= @usuario.college %></p>
            <b>Experiencia:</b>
            <p><%= @usuario.experience %></p>
            <b>Idioma(s):</b>
            <p><%= @usuario.languages %></p>
            <b>Conocimientos:</b>
            <p><%= @usuario.knowledges %></p>
          </div>
        <% end %>
        <%= link_to "Editar perfil", edit_user_registration_path(@usuario), class: "btn btn-primary" if current_user.id == @usuario.id %>
      </div>
    </div>
  </div>
</div>
