<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid ms-5 me-5">
    <%= link_to(root_path, class: "navbar-brand d-flex align-items-center") do %>
      <%= image_tag "logo.jpg", height: 40, width: 40, crop: :fill %>


    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? && current_user.role == true %>
          <li class="nav-item d-flex align-items-center active">
            <%= link_to "Inicio", "/", class: "nav-link text-white" %>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Publicar una pasantia ", "/internships/new", class: "nav-link text-white" %>
          </li>
            <li class="nav-item d-flex align-items-center">
            <%= link_to "Ofertas publicadas ", internships_path, class: "nav-link text-white" %>
          </li>

          <li class="nav-item d-flex align-items-center dropdown">
            <a href="#" class="avatar rounded-circle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.present? %>
                <% @user = User.new %>
                <% @user.id = current_user.id %>
                <img src="<%= cl_image_path(@user.photo.key, height: 75, width: 75, crop: :fill) %>" class="avatar rounded-circle" alt="Profile Image">
              <% else %>
                <%= image_tag("avatar2", alt: "Iphone", width: "45", height: "45", class: "rounded-circle ms-2", alt: "dropdown menu") %>
              <% end %>
            </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mi perfil", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Mis reviews", "#", class: "dropdown-item" %>
                <%= link_to "Cerrar sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>

          </li>
        <% elsif user_signed_in? && current_user.role == false %>
          <li class="nav-item d-flex align-items-center active">
            <%= link_to "Inicio", "/", class: "nav-link text-white" %>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Pasantias ", internships_path, class: "nav-link text-white" %>
          </li>
            <li class="nav-item d-flex align-items-center">
            <%= link_to "Mis Postulaciones", postulations_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item d-flex align-items-center dropdown">
          <a href="#" class="avatar rounded-circle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.photo.present? %>
            <% @user = User.new %>
            <% @user.id = current_user.id %>
            <%= cl_image_tag @user.photo.key, height: 50, width: 50, crop: :fill, class: "avatar rounded-circle" %>
          <% else %>

            <%= image_tag("avatar2", alt: "avatar", width: "45", height: "45", class: "rounded-circle ms-2", alt: "dropdown menu") %>

          <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mi perfil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
        <li class="nav-item d-flex align-items-center">
            <%= link_to "Pasantías", internships_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%= link_to "Registrarse", new_user_registration_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
