  <div class="content text-center">
  <h2>Pathfinder</h2>
  <p>Encuentra tu camino, a través de la experiencia</p>



<div class="banner position-relative">
  <div class="image-home">
    <%= image_tag("Banner", alt: "Chica feliz con su primera pasatia") %>

    <div class="search-container">
      <%= form_with url: internships_path, method: :get, class: "d-flex search-form" do %>
        <div class="search-wrapper">
          <%= text_field_tag :query,
                params[:query],
                class: "form-control search-input",
                placeholder: "Busca trabajo, ciudad o país"
            %>
          <%= submit_tag "Buscar", name: "", class: "btn btn-primary search-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>


<%
=begin%>

<div class="square-container">
  <% 10.times do |index| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Card #{index + 1}</h2>

<%
=end%>




<div class= "row">
    <div class= "col-6">
      <% @internships.select do |internship| %>
        <% if internship.id == 9 %>
          <% internship_ratings = internship.reviews.pluck(:rating) %>
          <% suma = internship_ratings.sum %>
          <% promedio  = (suma / internship_ratings.count)%>
        <% end %>
        <h5><%= link_to internship.title, internship_path(internship) %></h5>
        <li> <%= "Categoría: #{internship.category}" %> </li>
        <li> <%= "Empresa: #{internship.user.name}" %> </li>
        <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
      <% end %>
    </div>

    <div class= "col-6">>
      <% @internships.each do |internship| %>
      <% if internship.id == 9 %>
        <% internship_ratings = internship.reviews.pluck(:rating) %>
        <% suma = internship_ratings.sum %>
        <% promedio  = (suma / internship_ratings.count)%>
        <% end %>
        <h5><%= link_to internship.title, internship_path(internship) %></h5>
        <li> <%= "Categoría: #{internship.category}" %> </li>
        <li> <%= "Empresa: #{internship.user.name}" %> </li>
        <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
      <% end %>
      </div>
</div>







<%
=begin%>
 <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p><p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> <strong>relevant info</strong> only.</p> <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p><p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> <strong>relevant info</strong> only.</p> <strong>relevant info</strong> only.</p>
  </div>
</div>

<%
=end%>
<%
=begin%>
 <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> </p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p><p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> <strong>relevant info</strong> only.</p> <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p><p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> <strong>relevant info</strong> only.</p> <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p><p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> <strong>relevant info</strong> only.</p> <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <p>  <% @internships.each do |internship| %>
      <h5><%= link_to internship.title, internship_path(internship) %></h5>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
  <% end %> <strong>relevant info</strong> only.</p>
  </div>
</div>

<%
=end%>
