<% if current_user.role == true  %>
<h2>Mis pasantias</h2>
  <ul>
    <% @internships.each do |internship| %>

      <h5><i class="fas fa-briefcase"></i><%= link_to internship.title, internship_path(internship) %></h5>
      <li>Estado: <%= internship.status %></li>


      <p><i class="fas fa-map-pin"></i><%= "Ubicación: #{internship.user.city}, #{internship.user.country}" %></p>
      <li><i class="fas fa-house-laptop"></i> <%= "Tipo: #{internship.tipo}" %> </li>
      <li>Cantidad de postulaciones: <%= internship.postulations.count  %></li>
    <% end %>
  </ul>



<% else %>

    <% @internships.each do |internship| %>
      <h5><i class="fas fa-briefcase"></i><%= link_to internship.title, internship_path(internship) %></h5>
      <li>Estado: <%= internship.status %></li>
      <li> <%= "Categoría: #{internship.category}" %> </li>
      <li> <%= "Empresa: #{internship.user.name}" %> </li>
      <li> <%= "Ubicación: #{internship.city}, #{internship.country}" %> </li>
      <li> <%= "Tipo: #{internship.tipo}" %> </li>
      <% if internship.paid%>
        <li>Remunerada: Sí</li>
      <% else %>
        <li>Remunerada: No</li>
      <% end %>


    <% end %>
<% end %>
