<div class="container">
  <div class="d-flex justify-content-center">
    <h2 class="mx-auto">Pasantias</h2>
  </div>
  <% @internships.each do |internship| %>
    <%# Logo de la empresa (user_id) %>
    <h5><i class="fas fa-briefcase"></i><%= link_to internship.title, internship_path(internship), class: "nav-link" %></h5>
    <p>Empresa: <%= internship.user.name %></p>
    <p><i class="fas fa-map-pin"></i><%= "#{internship.user.city}, #{internship.user.country}" %></p>
    <p><i class="fas fa-house-laptop"></i><%= internship.tipo %></p>
    <p><i class="fas fa-hourglass-start"></i><%= "Duracion: #{internship.duration}" %></p>
  <% end %>
</div>
