<div class="banner position-relative image-index">
  <% if user_signed_in? == false || current_user.role == false %>
    <%= image_tag("banner-index.png", alt: "Chicos usando PathFinder") %>
  <% else %>
    <%= image_tag("banner-company.png", alt: "Chicos usando PathFinder") %>
  <% end %>
  <div class="content-index text-center">
    <h1 id="titulo-principal-index">Pasantías</h1>
  </div>
</div>


<section id="seccion-index-internships" class="py-4 mb-0 pe-0 ps-0">


  <div class="search-container-index search-form d-flex justify-content-center mt-5">
    <div class="search-input">
      <%= form_with url: internships_path, method: :get, class: "d-flex search-form" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-input",
              placeholder: "Ingresa puesto o ubicación"
        %>
    </div>
    <div class="search-button-wrapper">
      <%= submit_tag "Buscar", name: "", class: "btn btn-secondary search-button" %>
      <% end %>
    </div>
  </div>

  <div class="container">


    <% if user_signed_in? == false || current_user.role == false %>

      <div class="container w-75 d-flex justify-content-center flex-column container-index-center mt-5">
        <% if @no_results %>
          <div class="text-center">
            <h5>Lo siento, no hay resultados para tu búsqueda.</h5>
            <h6 class="mt-1">Suscribete a nuestro newsletter para enterarte de próximas aperturas de pasantías.</h6>
            <%= image_tag("no-results.png", alt: "Chicos usando PathFinder", class:"no-results") %>
          </div>
        <% else %>
          <% @internships.each do |internship| %>
            <% if internship.status == "Abierta" %>

              <div data-aos="fade-up">

                <%= link_to internship_path(internship), class: "card-text card-text-seccion1" do %>
                  <div class="cardd-index mb-3 shadow p-2">
                    <div class="row g-0">
                      <div class="col d-flex">
                        <div class="col-auto">
                          <%= image_tag internship.user.photo.url(crop: "fill", width: 40, height: 40), class:"rounded-circle ms-1 mt-2" %>
                        </div>
                        <div class="col text-left ms-3">
                          <h6 class="card-text titulo-card-seccion2 mb-1" id="title-card-section2"><%= internship.title %></h6>
                          <p class="card-title card-title-section2 mb-3"><%= internship.user.name %></p>
                          <% if internship.paid %>
                            <p><strong>Remunerada: Sí</strong></p>
                          <% else %>
                            <p><strong>Remunerada: No</strong></p>
                          <% end %>
                        </div>
                        <div class="text-left col-5 align-self-md-center p-4">
                          <p><small><%= "#{internship.city} (#{internship.tipo})" %></small></p>
                        </div>
                        <div class="align-self-md-center me-2">
                          <%= "Tipo: #{internship.tipo}" %></li>
                          <p>Estado: <%= internship.status %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% else %>
        <div class="container d-flex justify-content-center">
          <div class="filter-buttons">
            <%= link_to internships_path(filter: "Abierta"), class: "btn btn-primary me-2" do %>
              Mostrar Abiertas
            <% end %>
            <%= link_to internships_path(filter: "Finalizada"), class: "btn btn-primary me-2" do %>
              Mostrar Finalizadas
            <% end %>
            <%= link_to internships_path, class: "btn btn-primary" do %>
              Mostrar Todas
            <% end %>
          </div>
        </div>
        <div class="container w-75 mt-5">
          <% @internships.each do |internship| %>
            <%= link_to internship_path(internship), class: "card-text card-text-seccion1" do %>
              <div class="cardd-index mb-3 shadow p-2">
                <div class="row g-0">
                  <div class="col d-flex">
                    <div class="col-auto">
                      <%= image_tag internship.user.photo.url(crop: "fill", width: 40, height: 40), class:"rounded-circle ms-1 mt-2" %>
                    </div>
                    <div class="col text-left ms-3">
                      <h6 class="card-text titulo-card-seccion2 mb-1" id="title-card-section2"><%= internship.title %></h6>
                      <p class="card-title card-title-section2 mb-3"><%= internship.user.name %></p>
                      <% if internship.paid %>
                        <p><strong>Remunerada: Sí</strong></p>
                      <% else %>
                        <p><strong>Remunerada: No</strong></p>
                      <% end %>
                    </div>
                    <div class="text-left col-5 align-self-md-center p-4">
                      <p><small><%= "#{internship.city} (#{internship.tipo})" %></small></p>
                    </div>
                    <div class="align-self-md-center me-2">
                      <%= "Tipo: #{internship.tipo}" %></li>
                      <p>Estado: <%= internship.status %></p>
                      <p>Postulantes: <%= internship.postulations.count %></p>
                      <%=  %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </div>
</section>



<script>
  AOS.init();
</script>
