<div class="my-initial-img ">
  <%= image_tag("banshow.png", class: "my-header-in") %>
  <div class="my-image-text">
    <%= @internship.title %>
  </div>
</div>
<% if user_signed_in? == false || current_user.role == false %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="container-one">
          <div class="container-main-one">
            <div class="my-empresa">
              <div class="my-titulo">
                <h4><%= @internship.title %></h4>
                <h5>Estado: <%= @internship.status %></h5>
              </div>
              <div class="my-emp">
                <div class="my-img">
                  <%= image_tag @internship.user.photo.url(crop: "fill", width: 70, height: 70), class:"my-rounded" %> <br>
                </div>
                <div class="my-contenido">
                  <div class="name-container">
                    <p>Pasantía ofertada por: <%= @internship.user.name %></p><br>
                  </div>
                  <div class="empresa-abajo">
                    <div class="votos">
                      <i class="fa fa-star fa-2x text-votos"></i>
                      <i class="fa fa-star fa-2x text-votos"></i>
                      <i class="fa fa-star fa-2x text-votos"></i>
                      <% if @internship.user.id == 25 %>
                        <i class="fa fa-star-half fa-2x text-votos"></i>
                        <i class="fa fa-star-none fa-2x text-nulo"></i>
                      <% else %>
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <i class="fa fa-star-half fa-2x text-votos"></i>
                      <% end %>
                      <span class="fa fa-2x"><h5 class="votos-text">(<%= @internship.user.rating %>) <%= @internship.user.reviews %> Votos</h5></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-main-two">
          <h5>Información:</h5>
          <div class="my-inf-cont">
            <div class="colum-one">
              <div class="my-salto">
                <i class="fa-solid fa-briefcase"></i>
                <div class="my-text-info">
                  <b>Tipo:</b>
                  <p><%= @internship.tipo %></p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-solid fa-clock"></i>
                <div class="my-text-info">
                  <b>Duración:</b>
                  <p><%= @internship.duration %> meses</p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-regular fa-calendar-days"></i>
                <div class="my-text-info">
                  <b>Publicada el:</b>
                  <p><%= @internship.start_date %></p>
                </div>
              </div>
            </div>
            <div class="colum-twoo">
              <div class="my-salto">
                <i class="fa-solid fa-location-dot"></i>
                <div class="my-text-info">
                  <b>Ubicación:</b>
                  <p><%= @internship.city %>, <%= @internship.country %></p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-solid fa-money-bill-1"></i>
                <div class="my-text-info">
                  <b>Pagado:</b>
                  <p><%= @internship.paid %></p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-regular fa-calendar-days"></i>
                <div class="my-text-info">
                  <b>Finaliza el:</b>
                  <p><%= @internship.end_date %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-main-tree">
          <h5>Descripción:</h5>
          <div class="my-desc">
            <p><%= @internship.description %></p>
          </div>
        </div>
      </div>
<% elsif current_user.id == @internship.user.id && current_user.role == true %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="container-one">
          <div class="container-main-one">
            <div class="my-empresa">
              <div class="my-titulo">
                <h4><%= @internship.title %></h4>
                <h5>Estado: <%= @internship.status %></h5>
              </div>
              <div class="my-emp">
                <div class="my-img">
                  <%= image_tag @internship.user.photo.url(crop: "fill", width: 70, height: 70), class:"my-rounded" %> <br>
                </div>
                <div class="my-contenido">
                  <div class="name-container">
                    <p>Pasantía ofertada por: <%= @internship.user.name %></p><br>
                  </div>
                  <div class="empresa-abajo">
                    <div class="votos">
                      <i class="fa fa-star fa-2x text-votos"></i>
                      <i class="fa fa-star fa-2x text-votos"></i>
                      <i class="fa fa-star fa-2x text-votos"></i>
                      <% if @internship.user.id == 25 %>
                        <i class="fa fa-star-half fa-2x text-votos"></i>
                        <i class="fa fa-star-none fa-2x text-nulo"></i>
                      <% else %>
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <i class="fa fa-star-half fa-2x text-votos"></i>
                      <% end %>
                      <span class="fa fa-2x"><h5 class="votos-text">(<%= @internship.user.rating %>) <%= @internship.user.reviews %> Votos</h5></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-main-two">
          <h5>Información:</h5>
          <div class="my-inf-cont">
            <div class="colum-one">
              <div class="my-salto">
                <i class="fa-solid fa-briefcase"></i>
                <div class="my-text-info">
                  <b>Tipo:</b>
                  <p><%= @internship.tipo %></p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-solid fa-clock"></i>
                <div class="my-text-info">
                  <b>Duración:</b>
                  <p><%= @internship.duration %> meses</p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-regular fa-calendar-days"></i>
                <div class="my-text-info">
                  <b>Publicada el:</b>
                  <p><%= @internship.start_date %></p>
                </div>
              </div>
            </div>
            <div class="colum-twoo">
              <div class="my-salto">
                <i class="fa-solid fa-location-dot"></i>
                <div class="my-text-info">
                  <b>Ubicación:</b>
                  <p><%= @internship.city %>, <%= @internship.country %></p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-solid fa-money-bill-1"></i>
                <div class="my-text-info">
                  <b>Pagado:</b>
                  <p><%= @internship.paid %></p>
                </div>
              </div>
              <div class="my-salto">
                <i class="fa-regular fa-calendar-days"></i>
                <div class="my-text-info">
                  <b>Finaliza el:</b>
                  <p><%= @internship.end_date %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-main-tree">
          <h5>Descripción:</h5>
          <div class="my-desc">
            <p><%= @internship.description %></p>
          </div>
            <div class="my-bot-all">
              <%= link_to "Editar", edit_internship_path, class: "my-btn-all text-white my-izq" %>
              <%= link_to "Finalizar Pasantía", internships_change_status_to_finished_path(id: @internship), class: "my-btn-all text-white" %>
            </div>
        </div>
      </div>
<% end %>
<% if  user_signed_in? == false || current_user.role == false %>
    <div class="col-3">
        <div class="container-one-ab">
          <div class="cont-one">
            <h5>Interesado en esta pasantía?</h5>
            <% dias_restantes = (@internship.end_date - Date.today).to_i %>
            <% if dias_restantes > 0 %>
              <p>Tienes <%= dias_restantes %> días para postularte</p>
            <% else %>
              <p>La postulación ha finalizado</p>
            <% end %>
              <% if @internship.status == true && dias_restantes > 0 %>
                <div class="my-apply-int">
                  <%= link_to "Aplica ahora!", new_internship_postulation_path(@internship), class: "text-white"%>
                </div>
              <% else %>
                <div class="btn-no">
                  <h4>FINALIZADA</h4>
                </div>
              <% end %>
          </div>
        </div>
        <div class="container-twoo-ab">
          <h5><%= image_tag @internship.user.photo.url(crop: "fill", width: 70, height: 70), class:"my-rounded" %> <br><%= @internship.user.name %></h5>
          <div class="my-cont-empr">
            <p><i class="fa-solid fa-industry"></i>Industria: <%= @internship.user.industry %></p>
            <p><i class="fa-solid fa-house"></i>Sitio web: <a href="<%= @internship.user.website %> target: _blank">Visitar</a></p>
            <p><i class="fa-solid fa-address-card"></i>Acerca de: </p> <p><%= @internship.user.about %></p>
          </div>
        </div>
      </div>
    </div>
<% else %>
      <div class="col-6">
        <div class="container-owner">
          <div class="d-flex justify-content-evenly mt-3">
            <% if current_user.role == true && current_user.id == @internship.user_id %>
              <div class="mb-4">
                <h4>Postulantes</h4>
                <div class="postulations-list">
                  <% if @internship.postulations.any? %>
                    <% @internship.postulations.each do |student| %>
                      <div class="card">
                        <div class="row">
                          <div class="col-sm-5">
                            <%= cl_image_tag student.user.photo.key, class:"card-img ms-3 rounded", height: 150, width: 150, crop: :fill %>
                          </div>
                          <div class="col-sm-7">
                            <div class="card-body">
                              <div>
                                <h6><%= link_to "#{student.user.last_name}, #{student.user.first_name}", user_path(User.find(student.user.id)), class:"text-white card-title", target: "_blank" %></h6>
                                <p class="card-text"><%= student.user.studies %></p>
                                <p class="card-text"><%= student.content %></p>
                              </div>
                            </div>
                          </div>
                            <div class="stat-espace">
                              <div class="my-card-status">
                                <%= link_to "Aprobar", postulations_change_status_to_approved_path(id: student) %>
                              </div>
                              <div class="my-card-status">
                                <%= link_to "Rechazar", postulations_change_status_to_rejected_path(id: student) %>
                              </div>
                            </div>
                          <div class="my-stat">
                              <p class="card-product-infos"><%= student.status %></p>
                          </div>
                        </div>
                      </div>
                  <% end %>
                  <% else %>
                    <h5>Aún no tienes postulantes</h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
<% end %>
    </div>
  </div>
