<div class="banner position-relative image-index">
  <% if @internship.category ==  "administration" %>
    <%= image_tag("banner-categories-administration.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "agriculture" %>
    <%= image_tag("banner-categories-agriculture.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "design" %>
    <%= image_tag("banner-categories-design.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "education" %>
    <%= image_tag("banner-categories-education.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "accounting" %>
    <%= image_tag("banner-categories-finance.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "legal" %>
    <%= image_tag("banner-categories-legal.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "turism" %>
    <%= image_tag("banner-categories-tourism.png", alt: "Chicos usando PathFinder") %>
  <% elsif @internship.category == "it" %>
    <%= image_tag("banner-categories-it.png", alt: "Chicos usando PathFinder") %>
  <% else %>
    <%= image_tag("banner-index.png", alt: "Chicos usando PathFinder") %>
  <% end %>
  <div class="content-index text-center">
    <% titulo = @internship.title.split(" ") %>
    <% capitalize_words = titulo.map { |word| word.capitalize } %>
    <% titulo = capitalize_words.join(" ") %>
    <h1 id="titulo-principal-index"><%= titulo %></h1>
  </div>
</div>

<section id="seccion1" class="py-4 mb-0">

  <% if user_signed_in? == false || current_user.role == false %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5">
          <div class="container-one">
            <div class="container-main-one bg-white">
              <div class="my-empresa">
                <div class="my-titulo">
                  <h4><%= @internship.title %></h4>
                  <h5>Estado: <%= @internship.status %></h5>
                </div>
                <div class="my-emp">
                  <div class="my-img">
                    <%= image_tag @internship.user.photo.url(crop: "fill", width: 70, height: 70), class:"my-rounded" %> <br>
                  </div>
                  <div class="my-contenido">
                    <div class="name-container">
                      <p><%= @internship.user.name %></p><br>
                    </div>
                    <div class="empresa-abajo">
                      <div class="votos">
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <% if @internship.user.id == 25 %>
                          <i class="fa fa-star-half fa-2x text-votos"></i>
                          <i class="fa fa-star-none fa-2x text-nulo"></i>
                        <% else %>
                          <i class="fa fa-star fa-2x text-votos"></i>
                          <i class="fa fa-star-half fa-2x text-votos"></i>
                        <% end %>
                        <span class="fa fa-2x mt-3"><h5 class="votos-text">(<%= @internship.user.rating %>) <%= @internship.user.reviews %> Votos</h5></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-main-two bg-white">
            <h5>Información:</h5>
            <div class="my-inf-cont">
              <div class="colum-one">
                <div class="my-salto">
                  <i class="fa-solid fa-briefcase"></i>
                  <div class="my-text-info">
                    <p class="subt-show-pf">Tipo:</p>
                    <p><%= @internship.tipo %></p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-solid fa-clock"></i>
                  <div class="my-text-info">
                    <p class="subt-show-pf">Duración:</p>
                    <p><%= @internship.duration %> meses</p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-regular fa-calendar-days"></i>
                  <div class="my-text-info">
                    <p class="subt-show-pf">Publicada el:</p>
                    <p><%= @internship.start_date %></p>
                  </div>
                </div>
              </div>
              <div class="colum-twoo">
                <div class="my-salto">
                  <i class="fa-solid fa-location-dot"></i>
                  <div class="my-text-info">
                    <p>Ubicación:</p>
                    <p><%= @internship.city %>, <%= @internship.country %></p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-solid fa-money-bill-1"></i>
                  <div class="my-text-info">
                    <p>Pagado:</p>
                    <p><%= @internship.paid %></p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-regular fa-calendar-days"></i>
                  <div class="my-text-info">
                    <p>Finaliza el:</p>
                    <p><%= @internship.end_date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-main-tree bg-white">
            <h5>Descripción:</h5>
            <div class="my-desc">
              <p><%= @internship.description %></p>
            </div>
          </div>
        </div>
  <% elsif current_user.id == @internship.user.id && current_user.role == true %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="container-one">
            <div class="container-main-one bg-white">
              <div class="my-empresa">
                <div class="my-titulo">
                  <h4><%= @internship.title %></h4>
                  <h5>Estado: <%= @internship.status %></h5>
                </div>
                <div class="my-emp">
                  <div class="my-img">
                    <%= image_tag @internship.user.photo.url(crop: "fill", width: 70, height: 70), class:"my-rounded" %> <br>
                  </div>
                  <div class="my-contenido">
                    <div class="name-container">
                      <p><%= @internship.user.name %></p><br>
                    </div>
                    <div class="empresa-abajo">
                      <div class="votos">
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <i class="fa fa-star fa-2x text-votos"></i>
                        <% if @internship.user.id == 25 %>
                          <i class="fa fa-star-half fa-2x text-votos"></i>
                          <i class="fa fa-star-none fa-2x text-nulo"></i>
                        <% else %>
                          <i class="fa fa-star fa-2x text-votos"></i>
                          <i class="fa fa-star-half fa-2x text-votos"></i>
                        <% end %>
                        <span class="fa fa-2x mt-3"><h5 class="votos-text">(<%= @internship.user.rating %>) <%= @internship.user.reviews %> Votos</h5></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-main-two bg-white">
            <h5>Información:</h5>
            <div class="my-inf-cont">
              <div class="colum-one">
                <div class="my-salto">
                  <i class="fa-solid fa-briefcase"></i>
                  <div class="my-text-info">
                    <p>Tipo:</p>
                    <p><%= @internship.tipo %></p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-solid fa-clock"></i>
                  <div class="my-text-info">
                    <p>Duración:</p>
                    <p><%= @internship.duration %> meses</p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-regular fa-calendar-days"></i>
                  <div class="my-text-info">
                    <p>Publicada el:</p>
                    <p><%= @internship.start_date %></p>
                  </div>
                </div>
              </div>
              <div class="colum-twoo">
                <div class="my-salto">
                  <i class="fa-solid fa-location-dot"></i>
                  <div class="my-text-info">
                    <p>Ubicación:</p>
                    <p><%= @internship.city %>, <%= @internship.country %></p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-solid fa-money-bill-1"></i>
                  <div class="my-text-info">
                    <p>Pagado:</p>
                    <p><%= @internship.paid %></p>
                  </div>
                </div>
                <div class="my-salto">
                  <i class="fa-regular fa-calendar-days"></i>
                  <div class="my-text-info">
                    <p>Finaliza el:</p>
                    <p><%= @internship.end_date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-main-tree bg-white">
            <h5>Descripción:</h5>
            <div class="my-desc">
              <p><%= @internship.description %></p>
            </div>
              <div class="my-bot-all">
                <div class="row">
                  <div class="col">
                    <%= link_to "Editar", edit_internship_path, class: "btn btn-secondary text-white my-izq me-2" %>
                  </div>
                  <div class="col">
                    <%= button_to "Finalizar Pasantía", internships_change_status_to_finished_path(id: @internship), class: "btn btn-secondary text-white ms-2" %>
                  </div>
                </div>
              </div>

          </div>
        </div>
  <% end %>
  <% if  user_signed_in? == false || current_user.role == false %>
      <div class="col-3">
          <div class="container-one-ab">
            <div class="cont-one">
              <% dias_restantes = (@internship.end_date - Date.today).to_i %>
              <h5><% "Interesado en esta pasantía?" if @internship.status == "Abierta" || dias_restantes > 0 %></h5>
              <% if @internship.status == "Finalizada" || dias_restantes <= 0  %>
                <div>
                  <h5>LA POSTULACIÓN HA FINALIZADO</h5>
                </div>
              <% else %>
                <p><strong>Tienes <%= dias_restantes %> días para postularte</strong></p>
                <div class="my-apply-int">
                  <%= link_to "Aplica ahora!", new_internship_postulation_path(@internship), class: "text-white"%>
                </div>
              <% end %>
            </div>
          </div>
          <div class="container-twoo-ab bg-white">
            <h5><%= image_tag @internship.user.photo.url(crop: "fill", width: 70, height: 70), class:"my-rounded" %> <br><br><%= @internship.user.name %></h5>
            <div class="my-cont-empr">
              <p><i class="fa-solid fa-industry"></i>Industria: <%= @internship.user.industry %></p>
              <p><i class="fa-solid fa-house"></i>Sitio web: <a href="<%= @internship.user.website %> target: _blank">Visitar</a></p>
              <p><i class="fa-solid fa-address-card"></i>Acerca de: </p> <p><%= @internship.user.about %></p>
            </div>
          </div>
        </div>
      </div>
  <% else %>
        <div class="col-6 my-spac">
          <div class="container-owner">
            <div class="d-flex justify-content-center">
              <% if current_user.role == true && current_user.id == @internship.user_id %>
                <div class="mb-4">
                  <h4>Postulantes</h4>
                  <div class="container-post">
                    <% if @internship.postulations.any? %>
                      <% @internship.postulations.each do |student| %>
                        <div class="card card-blue-pf shadow">
                          <div class="row">
                            <div class="col-sm-5 text-center">
                              <%= cl_image_tag student.user.photo.key, class:"ms-3 rounded-4", height: 120, width: 100, crop: :thumb, gravity: :face %>
                            </div>
                            <div class="col-sm-7">
                              <div class="card-body p-1">
                                <div>
                                  <h3 class= "mb-2"><%= link_to " #{student.user.first_name} #{student.user.last_name}", user_path(User.find(student.user.id)), class:" card-title", target: "_blank" %></h3>
                                  <h5 class="card-text py--3 mb-4"><%= student.user.studies %></h5>
                                  <p class="card-text text-dark mb-3"><%= student.content %></p>
                                </div>
                              </div>
                            </div>
                              <div class="my-stat">
                                <p class="card-product-infos mb-1 text-dark"><%= student.status %></p>
                              </div>
                              <div class="stat-espace">
                                <% if student.status != "Pendiente" %>

                                <% else %>
                                  <div>
                                    <%= button_to "Aprobar", postulations_change_status_to_approved_path(id: student), class: "my-btn-all text-white my-izq me-2" %>
                                  </div>
                                  <div>
                                    <%= button_to "Rechazar", postulations_change_status_to_rejected_path(id: student), class: "my-btn-all text-white my-izq me-2" %>
                                  </div>
                                <% end %>
                              </div>
                          </div>
                        </div>
                    <% end %>
                    <% else %>
                      <h5>Aún no tienes postulantes</h5>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
  <% end %>

</section>
