<div class="container">

<h2><%= @internship.title %></h2>
<p><%= @internship.description %></p>
<p><%= @internship.category %></p>
<p><%= @internship.tipo %></p>
<p><%= @internship.status %></p>
<p><%= @internship.duration %></p>
<p><%= @internship.paid %></p>
<p><%= @internship.start_date %></p>
<p><%= @internship.end_date %></p>

<%= link_to "Volver", internships_path %>
<%= link_to "Editar Pasantía", edit_internship_path %>

<div>
