<div class="container-fluid w-75">
  <div class="shadow text-center p-1 m-2 mt-3 bg-white">
    <h2><%= @internship.title %></h2>
    <p>Categoría: <%= Internship.categories[@internship.category] %></p>
    <p>Estado: <%= @internship.status %></p>
    <p>Descripción: <%= @internship.description %></p>
    <p>Tipo: <%= Internship.tipos[@internship.tipo] %></p>
    <p>Ubicación: <%= "#{@internship.city}, #{@internship.country}" %></p>

    <p>Duración: <%= @internship.duration %> meses</p>
    <p>Remunerada: <%= @internship.paid %></p>
    <p>Desde: <%= @internship.start_date.strftime("%d-%m-%Y") %></p>
    <p>Hasta: <%= @internship.end_date.strftime("%d-%m-%Y") %></p>
  </div>



    <% if current_user.role == true && current_user.id == @internship.user_id %>
      <% @internship.postulations.each do |student| %>
        <div class="card-product mt-3">
          <%= cl_image_tag student.user.photo.key, height: 200, width: 200, crop: :fill %>
          <div class="card-product-infos">
            <h2><p><%= link_to "#{student.user.last_name}, #{student.user.first_name}", user_path(User.find(student.user.id)) %></p></h2>
            <p>Estado de la aplicación <strong><%= student.status %></strong></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <div class="d-flex justify-content-evenly mt-3">
    <% if current_user.role == false %>
      <%= link_to "Volver", internships_path, class: "btn btn-primary" %>
      <%= link_to "Aplicar", new_internship_postulation_path(@internship), class: "btn btn-primary" %>
    <% elsif current_user.role == true && current_user.id == @internship.user_id %>
      <%= link_to "Volver", internships_path, class: "btn btn-primary" %>
      <%= link_to "Editar Pasantía", edit_internship_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
